<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-lg bg-light fixed-top">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img id="user-image"/>
            <span id="user-name"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <button type="button" class="dropdown-item nav-link btn" data-toggle="modal" data-target="#AboutModal">About</button>
            <button type="button" class="dropdown-item nav-link btn" data-toggle="modal" data-target="#ReadByMeModal">Read By Me</button>
            <button id="log-out-button" type="button" class="dropdown-item nav-link btn">Log Out</button>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><input type="text" name="" value="" placeholder=" + Add new category"></a>
            <button type="button" class="btn btn-dark" name="button">Add</button>
            <% categories.forEach(function(categoryRow) { %>
                <a class="dropdown-item" href="#"><%= categoryRow.category %></a>
            <% }); %>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" id="login-button-homescreen" class="nav-link" data-toggle="modal" data-target="#login-modal">Login</a>
        </li>
        <li class="nav-item"><a href="#" id="sign-up-button-homescreen" class="nav-link" data-toggle="modal" data-target="#sign-up-modal">Sign up</a></li>
      </ul>
    </nav>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h1 id="title-login">Login</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </div>

            <div class="modal-body">
              <form class="form-login form-group">
                <div class="error-message username-is-required" style="display: none;"><p>Username is required</p></div>
                <div class="error-message" id='wrong-username-or-password' style="display: none;"><p>Wrong username or password</p></div>
                <label for="username-login" style="margin: 5px;">Username:</label>
                <input id="username-login" class="form-control" type="text">

                <div class="error-message password-is-required" style="display: none;"><p>Password is required</p></div>
                <label for="password-login" style="margin: 5px;">Password:</label>
                <input id="password-login" type="password" class="form-control">
             </form>
           </div>

           <div class="modal-footer">
             <button id="login-button" class="btn btn-primary" type="button">Login</button>
           </div>

         </div>
       </div>
     </div>

    <div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h1 id="title-sign-up">Sign up</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </div>

          <div class="modal-body">
            <form class="form-sign-in">
              <div class="error-message username-is-required" style="display: none;"><p>Username is required</p></div>
              <div class="error-message" id='username-length' style="display: none;"><p>Username must be at least 3 characters long</p></div>
              <div class="error-message" id='username-already-in-use' style="display: none;"><p>Username already in use</p></div>
              <label for="username-sign-up" style="margin: 5px;">Username:</label>
              <input id="username-sign-up" class="form-control" type="text">

              <div class="error-message" id='full-name-required' style="display: none;"><p>Enter your full name</p></div>
              <label for="name" style="margin: 5px;">Full name:</label>
              <input id="name" type="text" class="form-control">

              <div class="error-message password-is-required" style="display: none;"><p>Password is required</p></div>
              <div class="error-message" id='password-length' name='error message' style="display: none;"><p>Password must be at least 6 characters long</p></div>
              <label for="password-sign-up" style="margin: 5px;">Password:</label>
              <input id="password-sign-up" type="password" class="form-control">

              <div class="error-message" id='confirm-password-alert' style="display: none;"><p>Confirm your password</p></div>
              <div class="error-message" id='password-not-match' style="display: none;"><p>Password does not match the confirm password</p></div>
              <label for="verPassword" style="margin: 5px;">Confirm Password:</label>
              <input id="verPassword" type="password" class="form-control">
              </form>
          </div>

          <div class="modal-footer">
            <button id="sign-up-button" class="btn btn-primary" type="button">Sign up</button>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="AboutModal" tabindex="-1" role="dialog" aria-labelledby="AboutModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-About-title">
              <div class="profile-image">
                <img src="https://images.unsplash.com/photo-1501622130202-7987a9ff9ec0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f8a57c57ef58bc57c256d19343ade564&auto=format&fit=crop&w=802&q=80" alt="">
              </div>
              <div class="AboutModalTitle">
                <h1 class="modal-title" id="AboutModalTitle">drifasoley</h1>
              </div>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button id="edit-button" class="btn btn-secondary" type="button" name="button">Edit</button>
            <h5 id="account-profPic-h" style="display: none;">Edit Profile Picture:</h5>
            <div class="uploadProfilePic-btn-wrapper" style="display: none;">
              <button id="chooseNewPhotoButton" class="btn btn-light">Choose new image</button>
              <input type="file" name="myfile" />
            </div>

            <h5>Username:</h5>
            <input id="account-username-input" type="text" style="display: none;" name="" value="">
            <p id="account-username-text" style="display: block;">drifasoley</p>

            <h5>Name:</h5>
            <input id="account-name-input" type="text" style="display: none;" name="" value="">
            <p id="account-name-text" style="display: block;">Drífa Sóley Heimisdóttir</p>

            <h5 id="account-password-h" style="display: none;">Change Password:</p>
            <input id="account-password-input" type="text" style="display: none;" name="" value="">

            <h5 id="account-verPass-h" style="display: none;">Verify Password:</p>
            <input id="account-verPass-input" type="text" style="display: none;" name="" value="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  <div class="modal fade" id="ReadByMeModal" tabindex="-1" role="dialog" aria-labelledby="ReadByMeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ReadByMeModalTitle">My book List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body card-container">
          <% books.forEach(function(book) { %>
            <div class="card modal-card" style="width: 40%;">
              <div class="card-body">
                <h5 class="card-title"><%= book.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= book.author %></h6>
                <span><p class="card-text">
                  <%= book.description %>
                </p></span>
                <a href="#" data-toggle="modal" data-target="#bookCardModal">Read more</a>
                <a href="#" class="card-link">Mark as read</a>
                <a href="#" class="card-link">Add to my list</a>
              </div>
            </div>
          <% }); %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
